@deck-main: @color;

@deck-border: darken(@deck-main, 5%);
//79624E, 341908
@deck-header-color-1: lighten(@deck-main, 15%);
@deck-header-color-2: lighten(@deck-main, 10%);


a .deck-thumbnail{
	width: 100%;
	border-radius: 3px;
	background-color: lighten(@deck-main, 10%);
	color: @light;
	overflow: hidden;
	text-decoration: none !important;
	
	&:hover{
		background-color: lighten(@deck-main, 5%);
	}
	
	&:visited{
		text-decoration: none;
	}
	
	
	
	& .deck-header{
		
		font-size: 14px;
		color: @dark;
		padding: 5px 10px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 100px;
		-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2);
		box-shadow: inset 0 1px rgba(255, 255, 255, 0.2);
		border-radius: 2px 2px 0px 0px;
}
	
	& h3{
		line-height: 10px;
		margin-top: 10px;
		text-decoration: none;
	}
	
	& small{
		color: lighten(@color, 35%);
		margin: 0px;
		padding: 0px;
		line-height: 10px;
	}
	
	& .deck-content{
		font-size: 12px;
		padding: 2px 10px;
	}
	
	& ul {
		text-align: center;
	}
	
	& ul li{
		display: inline;
		font-size: 9px;
	}
	
}
.bar{
	height: 7px;
	float: left;
	
	&.bar-energy{
		background-color: @color-energy;
		-moz-box-shadow: inset 0 1px lighten(@color-energy, 5%);
		box-shadow: inset 0 1px lighten(@color-energy, 5%);
	}
	&.bar-growth{
		background-color: @color-growth;
		-moz-box-shadow: inset 0 1px lighten(@color-growth, 5%);
		box-shadow: inset 0 1px lighten(@color-growth, 5%);
	}
	&.bar-order{
		background-color: @color-order;
		-moz-box-shadow: inset 0 1px lighten(@color-order, 5%);
		box-shadow: inset 0 1px lighten(@color-order, 5%);
	}
	&.bar-decay{
		background-color: @color-decay;
		-moz-box-shadow: inset 0 1px lighten(@color-decay, 5%);
		box-shadow: inset 0 1px lighten(@color-decay, 5%);
	}
}

.deck-bar-fixed{
	position: fixed;
	top: 53px;
	width: 100%;
	height: 7px;
}
@media (max-width: 480px) {
	.deck-bar-fixed{
		display: none;
	}
}


.deck-scrolls {

	& .scroll-content{
		text-shadow: 0 1px @dark;
		margin: 0px;
		padding: 3px 0px;
		height: 20px;
	}
	
	& [class^="scroll-dublicate"]{
		background-position: top;
		background-size: 100%;
		margin: 0 auto;

		-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
		box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
	}
	& .scroll-dublicate-3{
		height: 4px;
		width: 96%;
		opacity: .7;
		&:first-of-type{
			width: 92%;
			height: 4px;
			opacity: .4;
		}
	}
	
	& .scroll-dublicate-2{
		height: 4px;
		width: 96%;
		opacity: .7;
		margin-top: 4px;
	}
	
	& .scroll{
		background-size: cover;
		background-position: top;
		height: 100px;
		text-shadow: 0 1px @dark;
		-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
		box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
		margin: 0px;
	}
	
	& .scroll{
			position: relative;
			background-size: cover;
			background-position: center;
			height: 100px;
			text-shadow: 0 1px @dark;
			
			/* Fallback version */
			-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
			box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
			/* Complete version */
			-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 -8px 20px -8px #000;
			box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 -8px 20px -8px #000;
			
			border-radius: 2px 2px 0px 0px;
			margin: 0px;
		}
		
		/* 2-3 cards */
		& .scroll-stack-2, & .scroll-stack-3 {
			&:before {
				content: " ";
				
				width: 95%;
				height: 100px;
				
				position: absolute;
				background: inherit;
				background-position: center;
				top: -4px;
				left: 2.5%;
				z-index: -10;
				
				border-radius: 2px 2px 0 0;
				
				/* Fallback version */
				-webkit-box-shadow: inset 0 6px rgba(0,0,0,.2);
				-moz-box-shadow: inset 0 6px rgba(0,0,0,.2);
				box-shadow: inset 0 6px rgba(0,0,0,.2);
				/* Complete version */
				-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 6px rgba(0,0,0,.2);
				-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 6px rgba(0,0,0,.2);
				box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 6px rgba(0,0,0,.2);
			}
		}
		
		/* 3 cards */
		& .scroll-stack-3:after {
			content: " ";
			
			width: 90%;
			height: 100px;
			
			position: absolute;
			background: inherit;
			background-position: center;
			top: -7px;
			left: 5%;
			z-index: -20;
			
			border-radius: 2px 2px 0 0;
			
			/* Fallback version */
			-webkit-box-shadow: inset 0 6px rgba(0,0,0,.4);
			-moz-box-shadow: inset 0 6px rgba(0,0,0,.4);
			box-shadow: inset 0 6px rgba(0,0,0,.4);
			/* Complete version */
			-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 6px rgba(0,0,0,.4), 0 -8px 20px -8px #000;
			-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 6px rgba(0,0,0,.4), 0 -8px 20px -8px #000;
			box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 6px rgba(0,0,0,.4), 0 -8px 20px -8px #000;
		}
}

@media (min-width: 768px) {
	.deck-scrolls {
		& .scroll-content{
			font-size: 11px;
		}
	}
}

