
[class^='col-']{
	float: left;
	padding: 10px;
	& img{
		max-width: 100%;
	}
}

.col-1{
	width: @size * 1;
}

.col-2{
	width: @size * 2;
}

.col-3{
	width: @size * 3;
}
.col-4{
	width: @size * 4;
}

.col-5{
	width: @size * 5;
}

.col-6{
	width: @size * 6;
}

.col-7{
	width: @size * 7;
}

.col-8{
	width: @size * 8;
}

.col-9{
	width: @size * 9;
}

.col-10{
	width: @size * 10;
}

.col-11{
	width: @size * 11;
}

.col-12{
	width: @size * 12;
}

@media (max-width: 768px) {
	
	.col-t-1{
		width: @size * 1;
	}
	
	.col-t-2{
		width: @size * 2;
	}
	
	.col-t-3{
		width: @size * 3;
	}
	.col-t-4{
		width: @size * 4;
	}
	
	.col-t-5{
		width: @size * 5;
	}
	
	.col-t-6{
		width: @size * 6;
	}
	
	.col-t-7{
		width: @size * 7;
	}
	
	.col-t-8{
		width: @size * 8;
	}
	
	.col-t-9{
		width: @size * 9;
	}
	
	.col-t-10{
		width: @size * 10;
	}
	
	.col-t-11{
		width: @size * 11;
	}
	
	.col-t-12{
		width: @size * 12;
	}
	
}

@media (max-width: 480px) {
	[class^='col-']{
		width: 100%;
	}
}