@icon-size: 24px;

i[class*='icon-'], i[class*='number-'] {
	display: inline-block;
	width: @icon-size;
	height: @icon-size;
	background-size: @icon-size @icon-size;
	background-repeat: no-repeat;
	background-position: center center;
	
	&.icon-gold{
		background-image: url(../img/factions/gold.png);
	}
	&.icon-shard{
		background-image: url(../img/factions/shard.png);
	}
	
	&.icon-decay{
		background-image: url(../img/factions/decay.png);
	}
	&.icon-order{
		background-image: url(../img/factions/order.png);
	}
	&.icon-growth{
		background-image: url(../img/factions/growth.png);
	}
	&.icon-energy{
		background-image: url(../img/factions/energy.png);
	}
	&.icon-wild{
		background-image: url(../img/factions/wild.png);
	}
	
	&.icon-white-decay{
		background-image: url(../img/blueprint/decay.png);
	}
	&.icon-white-order{
		background-image: url(../img/blueprint/order.png);
	}
	&.icon-white-growth{
		background-image: url(../img/blueprint/growth.png);
	}
	&.icon-white-energy{
		background-image: url(../img/blueprint/energy.png);
	}
	
	
	&.icon-gold-decay{
		background-image: url(../img/factions/gold_decay.png);
	}
	&.icon-gold-order{
		background-image: url(../img/factions/gold_order.png);
	}
	&.icon-gold-growth{
		background-image: url(../img/factions/gold_growth.png);
	}
	&.icon-gold-energy{
		background-image: url(../img/factions/gold_energy.png);
	}
	
	&.icon-1{
		background-image: url(../img/rank/admin.png);
	}
	&.icon-2{
		background-image: url(../img/rank/mod.png);
	}
	&.icon-3{
		background-image: url(../img/rank/mojang.png);
	}
	&.icon-donor{
		background-image: url(../img/rank/donor.png);
	}
	
	&.front-text{
		margin-bottom: -4px;
	}
	
	&.big{
		width: @icon-size*2;
		height: @icon-size*2;
		background-size: @icon-size*2 @icon-size*2;
	}
	&.huge{
		width: 64px;
		height: 64px;
		background-size: 64px 64px;
	}
	&.small{
		margin-bottom: -6px;
	}
}
i[class*='number-']{
	&.number-0{
		background-image: url(../img/numbers/scroll_numbers__0_result.png);
	}
	&.number-1{
		background-image: url(../img/numbers/scroll_numbers__1_result.png);
	}
	&.number-2{
		background-image: url(../img/numbers/scroll_numbers__2_result.png);
	}
	&.number-3{
		background-image: url(../img/numbers/scroll_numbers__3_result.png);
	}
	&.number-4{
		background-image: url(../img/numbers/scroll_numbers__4_result.png);
	}
	&.number-5{
		background-image: url(../img/numbers/scroll_numbers__5_result.png);
	}
	&.number-6{
		background-image: url(../img/numbers/scroll_numbers__6_result.png);
	}
	&.number-7{
		background-image: url(../img/numbers/scroll_numbers__7_result.png);
	}
	&.number-8{
		background-image: url(../img/numbers/scroll_numbers__8_result.png);
	}
	&.number-9{
		background-image: url(../img/numbers/scroll_numbers__9_result.png);
	}
}

i[class*='add-icon-']:after{
	display: inline-block;
	position: absolute;
	margin-left: @icon-size / 3;
	margin-top: -@icon-size / 3;
	content: ' ';
	
	width: @icon-size;
	height: @icon-size;
	background-size: @icon-size @icon-size;
	background-repeat: no-repeat;
	background-position: center center;
}

i.add-icon-decay:after{
	background-image: url(../img/factions/decay.png);
}
i.add-icon-order:after{
	background-image: url(../img/factions/order.png);
}
i.add-icon-growth:after{
	background-image: url(../img/factions/growth.png);
}
i.add-icon-energy:after{
	background-image: url(../img/factions/energy.png);
}
i.add-icon-wild:after{
	background-image: url(../img/factions/wild.png);
}

i.add-icon-gold-decay:after{
	background-image: url(../img/factions/gold_decay.png);
}
i.add-icon-gold-order:after{
	background-image: url(../img/factions/gold_order.png);
}
i.add-icon-gold-growth:after{
	background-image: url(../img/factions/gold_growth.png);
}
i.add-icon-gold-energy:after{
	background-image: url(../img/factions/gold_energy.png);
}


i[class^='ball-'] {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin: 0px 4px 0px 2px;
	
	&.ball-CREATURE{
		background-color: #e2d5af;
	}
	&.ball-STRUCTURE{
		background-color: #b7ac83;
	}
	&.ball-SPELL{
		background-color: #bad6d8;
	}
	&.ball-ENCHANTMENT{
		background-color: #90b1a6;
	}
	&.ball-red{
		background-color: #CE0000;
	}
	&.ball-green{
		background-color: #00CE00;
	}
	&.ball-yellow{
		background-color: #CECE00;
	}
}


