.post-devider{
	margin: 10px 0px;
	background-color: lighten(@color, 5%);
	width: @size * 8;
	margin-left: @size * 2;
	height: 1px;
	float: left;
}


.news{
	&.news-front{
		max-height: 400px !important;
	}
	& h3 a{
		color: @light;
	}
}